.button {
    background: #61dafb;
    border: none;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .button:hover {
    background: #21a1f1;
  }
  